Source: debhello
Section: devel
Priority: extra
Maintainer: Symon <synote@foxmail.co>
Build-Depends: python3-all,
	debhelper (>=9),
	python-all
Standards-Version: 3.9.5
Homepage: https://github.com/synote/debuildpkg
Vcs-Git: https://github.com/synote/debuildpkg.git
Vcs-Browser: https://github.com/synote/debuildpkg
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: debhello
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
	${python:Depends},
	python
Description: example package in the debmake-doc package
 This is an example package to demonstrate the Debian packaging
 debmake(1) command provided by the debmake package.

